@font-face {
	font-family: 'Albion_titre';
	src: url(../fonts/koch_fraktur.ttf) format('truetype');
}

@font-face {
	font-family: 'Albion';
	src: url(../fonts/Albion.ttf) format('truetype');
}

header {
	background-color: hsl(211, 44%, 15%);
	text-align: center;
	color: hsl(45, 49%, 79%);
	text-shadow: 3px 2px hsl(211, 10%, 10%);
	font-family: Albion_titre;
	position: sticky;
	width: 100%;
	z-index: 10;
	top: 0;
	padding: 0.1%;
}

body {
	background-color: hsl(211, 10%, 10%);
	margin: 0 auto;
	color: #FFF;
	font-family: Arial;
}

footer {
	background-color: hsl(211, 44%, 15%);
	width: 100%;
	text-align: center;
	font-size: 0.825em;
	padding: 0.1%;
}

div {
	background-position: center;
	border: 1px solid hsl(211, 10%, 10%);
	opacity: 0.3;
	transition-duration: 1s;
}

div:hover {
	opacity: 1;
}

h3 {
	text-shadow: 3px 2px hsl(211, 10%, 10%);
	text-transform: uppercase;
	font-family: Albion;
	font-size: 1.125em;
	color: hsl(45, 49%, 79%);
}

strong {
	color: hsl(45, 49%, 79%);
	text-shadow: 3px 2px hsl(211, 10%, 10%);
	font-size: 1.375em;
	font-family: Albion;
}

#logo {
	position: absolute;
	max-width:18%;
	max-height: 70%;
	top: 15%;
	bottom: 35%;
	left: 1%;
}

#banner {
	position: absolute;
	max-width: auto;
	max-height: 70%;
	top: 15%;
	right: 1%;
}

.grid {
	display: grid;
	grid-template: 4rem 26rem 26rem 26rem 26rem / 100%;
}

.info {
	margin: 0 2%;
	max-width: 650px;
	background-color: hsl(211, 44%, 15%);
	text-align: justify;
	border-radius: 0 0 10px 10px;
	padding: 1%;
	opacity: 0.9;
	font-size: 1.125em;
}

.info:hover {
	opacity: 0.9;
}

.guild {
	opacity: 1;
	text-align: center;
	font-size: 0.625em;
}

.player {
	background-image: url(../albion/albion20.jpg);
}

.goal {
	background-image: url(../albion/albion1.jpg);
}

.goal .info {
	float: right;
}

.activity {
	background-image: url(../albion/albion10.jpg);
}

.island {
	background-image: url(../albion/albion8.jpg);
}

.island .info {
	float: right;
}
